{% style %}
	.section-{{ section.id }}-padding {
	    padding-top: {{ section.settings.padding_top }}px;
	    padding-bottom: {{ section.settings.padding_bottom }}px;
	}
{% endstyle %}

<div class="press-section section-{{ section.id }}-padding">
    <div class="container">
		{% for block in section.blocks %}
			{%- if block.settings.press_text != blank or block.settings.press_author != blank -%}
				<div class="press-block__ctr">
					{%- if block.settings.press_text != blank -%}
						<div class="press-block__ctr-content">
							<h2>
								{{ block.settings.press_text }}
							</h2>
						</div>
					{%- endif -%}

					{%- if block.settings.press_author != blank -%}
						<div class="press-block__ctr-author">
							<span>{{ block.settings.press_author }}</span>
						</div>
					{%- endif -%}
				</div>
			{%- endif -%}
		{% endfor %}
    </div>
</div>

{% schema %}
{
	"name": "Press",
	"enabled_on": {
		"templates": ["*"]
	},
	"settings": [
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 80,
			"unit": "px",
			"label": "Padding top"
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 10,
			"default": 80,
			"unit": "px",
			"label": "Padding bottom"
		}
	],
	"blocks": [
		{
			"type": "press_blocks",
			"name": "Press block",
            "limit": 2,
			"settings": [
				{
					"type": "textarea",
					"id": "press_text",
					"label": "Press quote"
				},
				{
					"type": "text",
					"id": "press_author",
					"label": "Author"
				}
				
			]
		}
	],
	"presets": [
		{
			"name": "Press",
			"blocks": [
				{
					"type": "press_blocks"
				},
				{
					"type": "press_blocks"
				}
			]
		}
	]
}
{% endschema %}
